{% extends 'base.html' %} {% load static %}
{% block title %} Munchbox | AddRestaurant {% endblock title %} {% block content %}

<div class="main-sec"></div>
<!-- Navigation -->
<section class="register-restaurent-sec section-padding bg-light-theme">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-9">
        <div class="sidebar-tabs main-box padding-20 mb-md-40">
          <div id="add-restaurent-tab" class="step-app">
            <div class="row">
              <div class="col-xl-4 col-lg-5 mb-md-40">
                <ul class="step-steps steps-1">
                  <li class="stepbtn active" id="step1">
                    <a href="#">
                      <span class="number"></span>
                      <span class="step-name">General Info</span>
                    </a>
                  </li>
                  <li class="stepbtn" id="step2">
                    <a href="#">
                      <span class="number"></span>
                      <span class="step-name">Select Package</span>
                    </a>
                  </li>
                  <li class="stepbtn" id="step3">
                    <a href="#">
                      <span class="number"></span>
                      <span class="step-name">Payment</span>
                    </a>
                  </li>
                  <li class="stepbtn" id="step4">
                    <a href="#">
                      <span class="number"></span>
                      <span class="step-name">Save & Preview</span>
                    </a>
                  </li>
                </ul>
                <ul class="step-steps steps-2">
                  <li class="add-res-tab active" id="stepbtn1">
                    <a href="#" class="add-res-tab">General Info</a>
                  </li>
                  <li class="add-res-tab" id="stepbtn2">
                    <a href="#" class="add-res-tab">Select Package</a>
                  </li>
                  <li class="add-res-tab" id="stepbtn3">
                    <a href="#" class="add-res-tab">Payment</a>
                  </li>
                  <li class="add-res-tab" id="stepbtn4">
                    <a href="#" class="add-res-tab">Save & Preview</a>
                  </li>
                </ul>
                <div class="step-footer">
                  <button class="btn-first white-btn none" id="prev-1">
                    Previous
                  </button>
                  <button class="btn-first white-btn none" id="prev-2">
                    Previous
                  </button>
                  <button class="btn-first white-btn none" id="prev-3">
                    Previous
                  </button>
                  <button class="btn-first white-btn" id="next-1">Next</button>
                  <button class="btn-first white-btn none" id="next-2">
                    Next
                  </button>
                  <button class="btn-first white-btn none" id="next-3">
                    Next
                  </button>
                  <button class="btn-first white-btn none" id="finish-1">
                    Finish
                  </button>
                </div>
              </div>
              <div class="col-xl-8 col-lg-7">
                <div class="step-content">
                  <form
                    method="post"
                    action="{% url 'add_restaurant' %}"
                    enctype="multipart/form-data"
                  >
                    {% csrf_token %}
                    <div class="step-tab-panel active" id="steppanel1">
                      <div class="general-sec">
                        <div class="row">
                          <div class="col-12">
                            <h5 class="text-light-black fw-700">
                              General Information
                            </h5>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="text-light-black fw-700">
                                Restaurant name <sup class="fs-16">*</sup>
                              </label>
                              {{ form.name }} {% if form.name.errors %}
                              <div class="text-danger">
                                {{ form.name.errors }}
                              </div>
                              {% endif %}
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="text-light-black fw-700">
                                Restaurant phone
                              </label>
                              {{ form.phone }} {% if form.phone.errors %}
                              <div class="text-danger">
                                {{ form.phone.errors }}
                              </div>
                              {% endif %}
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="text-light-black fw-700">
                                Manager Name
                              </label>
                              {{ form.manager_name }} {% if form.manager_name.errors %}
                              <div class="text-danger">
                                {{ form.manager_name.errors }}
                              </div>
                              {% endif %}
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="text-light-black fw-700">
                                Manager Contact phone
                              </label>
                              {{ form.manager_phone }} {% if form.manager_phone.errors %}
                              <div class="text-danger">
                                {{ form.manager_phone.errors }}
                              </div>
                              {% endif %}
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="text-light-black fw-700">
                                Contact Email
                              </label>
                              {{ form.contact_email }} {% if form.contact_email.errors %}
                              <div class="text-danger">
                                {{ form.contact_email.errors }}
                              </div>
                              {% endif %}
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <div class="u-line mb-xl-20"></div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <h5 class="text-light-black fw-700">Location</h5>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <label class="text-light-black fw-700">
                                Country <sup class="fs-16">*</sup>
                              </label>
                              {{ form.country }} {% if form.country.errors %}
                              <div class="text-danger">
                                {{ form.country.errors }}
                              </div>
                              {% endif %}
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="text-light-black fw-700">
                                State
                              </label>
                              {{ form.state }} {% if form.state.errors %}
                              <div class="text-danger">
                                {{ form.state.errors }}
                              </div>
                              {% endif %}
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="text-light-black fw-700">
                                City
                              </label>
                              {{ form.city }} {% if form.city.errors %}
                              <div class="text-danger">
                                {{ form.city.errors }}
                              </div>
                              {% endif %}
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="text-light-black fw-700">
                                Latitude
                              </label>
                              {{ form.latitude }} {% if form.latitude.errors %}
                              <div class="text-danger">
                                {{ form.latitude.errors }}
                              </div>
                              {% endif %}
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="text-light-black fw-700">
                                Longitude
                              </label>
                              {{ form.longitude }} {% if form.longitude.errors %}
                              <div class="text-danger">
                                {{ form.longitude.errors }}
                              </div>
                              {% endif %}
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="text-light-black fw-700">
                                Address
                              </label>
                              {{ form.address }} {% if form.address.errors %}
                              <div class="text-danger">
                                {{ form.address.errors }}
                              </div>
                              {% endif %}
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="text-light-black fw-700">
                                Find On Map
                              </label>
                              <input
                                type="text"
                                name="map_address"
                                class="form-control form-control-submit"
                                placeholder="Type Your Address"
                              />
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <button
                                type="button"
                                class="btn-second btn-submit"
                                id="search-location"
                              >
                                Search Location
                              </button>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <iframe
                                id="locmap"
                                class="w-100"
                                height="300"
                                src="https://maps.google.com/maps?q=university%20of%20san%20francisco&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
                              ></iframe>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <div class="u-line mb-xl-20"></div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="text-light-black fw-700">
                                Delivery/Pickup
                              </label>
                              {{ form.delivery_type }} {% if form.delivery_type.errors %}
                              <div class="text-danger">
                                {{ form.delivery_type.errors }}
                              </div>
                              {% endif %}
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="text-light-black fw-700">
                                Cuisines <sub>*</sub>
                              </label>
                              {{ form.cuisines }} {% if form.cuisines.errors %}
                              <div class="text-danger">
                                {{ form.cuisines.errors }}
                              </div>
                              {% endif %}
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <div class="u-line mb-xl-20"></div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <h5 class="text-light-black fw-700">
                              Account Information
                            </h5>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="text-light-black fw-700">
                                Username
                              </label>
                              {{ form.username }} {% if form.username.errors %}
                              <div class="text-danger">
                                {{ form.username.errors }}
                              </div>
                              {% endif %}
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="text-light-black fw-700">
                                Email
                              </label>
                              {{ form.user_email }} {% if form.user_email.errors %}
                              <div class="text-danger">
                                {{ form.user_email.errors }}
                              </div>
                              {% endif %}
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <div class="u-line mb-xl-20"></div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <label
                              class="custom-checkbox text-light-black fw-700"
                            >
                              <input type="checkbox" name="terms" required />
                              <span class="checkmark"></span>By Registering You
                              Confirm That You Accept The Terms & Conditions And
                              Privacy Policy</label
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="step-tab-panel" id="steppanel2">
                      <div class="package-sec">
                        <div class="row">
                          {% for package in packages %}
                          <div class="col-xl-6 col-lg-12 col-md-6">
                            <div class="package-box main-box mb-lg-20">
                              <div class="package-img">
                                <a href="#">
                                  <img
                                    src="{% if package.image %}{{ package.image.url }}{% else %}
                                    {% static 'app/assets/img/package/package-1.jpg' %}{% endif %}"
                                    class="img-fluid full-width"
                                    alt="package image"
                                  />
                                </a>
                              </div>
                              <div class="package-caption padding-20 bg-black">
                                <div class="package-item-first">
                                  <div
                                    class="pack-type fs-18 text-custom-white"
                                  >
                                    {{ package.name }}
                                  </div>
                                  <div class="pack-type fs-18 text-light-green">
                                    $ {{ package.price }}
                                  </div>
                                </div>
                                <ul>
                                  <li class="text-custom-white">
                                    <span
                                      >{{ package.duration_days }} days</span
                                    >
                                  </li>
                                  <li class="text-custom-white">
                                    <span>{{ package.description }}</span>
                                  </li>
                                </ul>
                                <div class="package-btn">
                                  <label>
                                    <input
                                      type="radio"
                                      name="package"
                                      value="{{ package.id }}"
                                      required
                                    />
                                    <a
                                      href="#"
                                      class="btn-second btn-submit full-width"
                                      >Choose Plan</a
                                    >
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                    <div class="step-tab-panel" id="steppanel3">
                      <div class="payment-sec">
                        <div class="section-header-left">
                          <h3 class="text-light-black header-title">
                            Payment information
                          </h3>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <p class="text-light-black">
                              Payment will be processed after preview. Please
                              proceed to save and preview.
                            </p>
                            <div class="form-group">
                              <button
                                type="submit"
                                class="btn-first green-btn text-custom-white full-width fw-500"
                              >
                                Proceed to Preview
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="step-tab-panel" id="steppanel4">
                      <div class="thankmsg-sec">
                        <div class="msg-wrapper text-center">
                          <div class="wrapper-1 bg-black padding-20 mb-xl-20">
                            <h1 class="text-light-green mb-2">Thank You</h1>
                            <h3 class="text-custom-white">
                              We are looking forward for your next order.
                            </h3>
                            <p class="text-custom-white">
                              You have successfully created your restaurant.
                              Check your email for login details.
                            </p>
                          </div>
                          <div class="row text-left">
                            <div class="col-md-6">
                              <div class="product-box mb-xl-20">
                                <div class="product-img">
                                  <a href="{% url 'restaurant' %}">
                                    <img
                                      src="{% static 'app/assets/img/package/shop-2.jpg' %}"
                                      class="img-fluid full-width"
                                      alt="product-img"
                                    />
                                  </a>
                                  <div class="overlay">
                                    <div class="product-tags padding-10">
                                      <span class="circle-tag">
                                        <img
                                          src="{% static 'app/assets/img/svg/013-heart-1.svg' %}"
                                          alt="tag"
                                        />
                                      </span>
                                      <div class="custom-tag">
                                        <span
                                          class="text-custom-white rectangle-tag bg-gradient-red"
                                        >
                                          10%
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="product-caption">
                                  <div class="title-box">
                                    <h6 class="product-title">
                                      <a
                                        href="{% url 'restaurant' %}"
                                        class="text-light-black"
                                      >
                                        Great Burger</a
                                      >
                                    </h6>
                                    <div class="tags">
                                      <span
                                        class="text-custom-white rectangle-tag bg-yellow"
                                      >
                                        3.1
                                      </span>
                                    </div>
                                  </div>
                                  <p class="text-light-white">
                                    American, Fast Food
                                  </p>
                                  <div class="product-details">
                                    <div class="price-time">
                                      <span class="text-light-black time"
                                        >30-40 min</span
                                      >
                                      <span class="text-light-white price"
                                        >$10 min</span
                                      >
                                    </div>
                                    <div class="rating">
                                      <span>
                                        <i class="fas fa-star text-yellow"></i>
                                        <i class="fas fa-star text-yellow"></i>
                                        <i class="fas fa-star text-yellow"></i>
                                        <i class="fas fa-star text-yellow"></i>
                                        <i class="fas fa-star text-yellow"></i>
                                      </span>
                                      <span class="text-light-white text-right"
                                        >4225 ratings</span
                                      >
                                    </div>
                                  </div>
                                  <div class="product-footer">
                                    <span class="text-custom-white square-tag">
                                      <img
                                        src="{% static 'app/assets/img/svg/004-leaf.svg' %}"
                                        alt="tag"
                                      />
                                    </span>
                                    <span class="text-custom-white square-tag">
                                      <img
                                        src="{% static 'app/assets/img/svg/006-chili.svg' %}"
                                        alt="tag"
                                      />
                                    </span>
                                    <span class="text-custom-white square-tag">
                                      <img
                                        src="{% static 'app/assets/img/svg/005-chef.svg' %}"
                                        alt="tag"
                                      />
                                    </span>
                                    <span class="text-custom-white square-tag">
                                      <img
                                        src="{% static 'app/assets/img/svg/008-protein.svg' %}"
                                        alt="tag"
                                      />
                                    </span>
                                    <span class="text-custom-white square-tag">
                                      <img
                                        src="{% static 'app/assets/img/svg/009-lemon.svg' %}"
                                        alt="tag"
                                      />
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="product-box mb-xl-20">
                                <div class="product-img">
                                  <a href="{% url 'restaurant' %}">
                                    <img
                                      src="{% static 'app/assets/img/package/shop-1.jpg' %}"
                                      class="img-fluid full-width"
                                      alt="product-img"
                                    />
                                  </a>
                                  <div class="overlay">
                                    <div class="product-tags padding-10">
                                      <span class="circle-tag">
                                        <img
                                          src="{% static 'app/assets/img/svg/013-heart-1.svg' %}"
                                          alt="tag"
                                        />
                                      </span>
                                    </div>
                                  </div>
                                </div>
                                <div class="product-caption">
                                  <div class="title-box">
                                    <h6 class="product-title">
                                      <a
                                        href="{% url 'restaurant' %}"
                                        class="text-light-black"
                                      >
                                        Flavor Town</a
                                      >
                                    </h6>
                                    <div class="tags">
                                      <span
                                        class="text-custom-white rectangle-tag bg-red"
                                      >
                                        2.1
                                      </span>
                                    </div>
                                  </div>
                                  <p class="text-light-white">
                                    Breakfast, Lunch &amp; Dinner
                                  </p>
                                  <div class="product-details">
                                    <div class="price-time">
                                      <span class="text-light-black time"
                                        >30-40 min</span
                                      >
                                      <span class="text-light-white price"
                                        >$10 min</span
                                      >
                                    </div>
                                    <div class="rating">
                                      <span>
                                        <i class="fas fa-star text-yellow"></i>
                                        <i class="fas fa-star text-yellow"></i>
                                        <i class="fas fa-star text-yellow"></i>
                                        <i class="fas fa-star text-yellow"></i>
                                        <i class="fas fa-star text-yellow"></i>
                                      </span>
                                      <span class="text-light-white text-right"
                                        >4225 ratings</span
                                      >
                                    </div>
                                  </div>
                                  <div class="product-footer">
                                    <span class="text-custom-white square-tag">
                                      <img
                                        src="{% static 'app/assets/img/svg/007-chili-1.svg' %}"
                                        alt="tag"
                                      />
                                    </span>
                                    <span class="text-custom-white square-tag">
                                      <img
                                        src="{% static 'app/assets/img/svg/004-leaf.svg' %}"
                                        alt="tag"
                                      />
                                    </span>
                                    <span class="text-custom-white square-tag">
                                      <img
                                        src="{% static 'app/assets/img/svg/009-lemon.svg' %}"
                                        alt="tag"
                                      />
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <p class="text-light-black">
                            For cancellation or more information Please Contact
                            Us
                          </p>
                          <ul class="contact-details">
                            <li>
                              <i class="fas fa-phone-alt text-light-black"></i>
                              <span
                                ><a href="tel:" class="text-light-black"
                                  >(347) 123456789</a
                                ></span
                              >
                            </li>
                            <li>
                              <i class="fas fa-fax text-light-black"></i>
                              <span
                                ><a href="tel:" class="text-light-black"
                                  >(347) 123456789</a
                                ></span
                              >
                            </li>
                            <li>
                              <i class="far fa-envelope text-light-black"></i>
                              <span
                                ><a href="mailto:" class="text-light-black"
                                  >demo@domain.com</a
                                ></span
                              >
                            </li>
                          </ul>
                          <button type="button" class="btn-first white-btn">
                            Preview
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="advertisement-slider swiper-container h-auto">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="large-product-box p-relative pb-0">
                <img
                  src="{% static 'app/assets/img/sidebanner-1.jpg' %}"
                  class="img-fluid full-width"
                  alt="image"
                />
                <div class="overlay padding-20">
                  <div class="tag-box">
                    <span
                      class="text-custom-white rectangle-tag bg-gradient-red"
                      >Trending</span
                    >
                  </div>
                  <div class="content-wrapper">
                    <h3 class="text-custom-white">
                      50% Discount on All New Restaurants
                    </h3>
                    <a href="#" class="btn-submit btn-second">Get Deals</a>
                  </div>
                </div>
                <div class="overlay overlay-bg"></div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="large-product-box p-relative pb-0">
                <img
                  src="{% static 'app/assets/img/sidebanner-2.jpg' %}"
                  class="img-fluid full-width"
                  alt="image"
                />
                <div class="overlay padding-20">
                  <div class="tag-box">
                    <span
                      class="text-custom-white rectangle-tag bg-gradient-red"
                      >New</span
                    >
                  </div>
                  <div class="content-wrapper">
                    <h3 class="text-custom-white">
                      50% Discount on All New Restaurants
                    </h3>
                    <a href="#" class="btn-submit btn-second">Get Deals</a>
                  </div>
                </div>
                <div class="overlay overlay-bg"></div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="large-product-box p-relative pb-0">
                <img
                  src="{% static 'app/assets/img/sidebanner-3.jpg' %}"
                  class="img-fluid full-width"
                  alt="image"
                />
                <div class="overlay padding-20">
                  <div class="tag-box">
                    <span
                      class="text-custom-white rectangle-tag bg-gradient-red"
                      >Trending</span
                    >
                  </div>
                  <div class="content-wrapper">
                    <h3 class="text-custom-white">
                      50% Discount on All New Restaurants
                    </h3>
                    <a href="#" class="btn-submit btn-second">Get Deals</a>
                  </div>
                </div>
                <div class="overlay overlay-bg"></div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="large-product-box p-relative pb-0">
                <img
                  src="{% static 'app/assets/img/sidebanner-2.jpg' %}"
                  class="img-fluid full-width"
                  alt="image"
                />
                <div class="overlay padding-20">
                  <div class="tag-box">
                    <span
                      class="text-custom-white rectangle-tag bg-gradient-red"
                      >New</span
                    >
                  </div>
                  <div class="content-wrapper">
                    <h3 class="text-custom-white">
                      50% Discount on All New Restaurants
                    </h3>
                    <a href="#" class="btn-submit btn-second">Get Deals</a>
                  </div>
                </div>
                <div class="overlay overlay-bg"></div>
              </div>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
