{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Munchbox | Add Restaurant{% endblock title %}

{% block content %}
<div class="main-sec"></div>
<section class="register-restaurent-sec section-padding bg-light-theme">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-9">
        <div class="sidebar-tabs main-box padding-20 mb-md-40">
          <div id="add-restaurent-tab" class="step-app">
            <div class="row">
              <div class="col-xl-4 col-lg-5 mb-md-40">
                <ul class="step-steps steps-1">
                  <li class="stepbtn active" id="step1">
                    <a href="#"><span class="number">1</span><span class="step-name">General Info</span></a>
                  </li>
                  <li class="stepbtn" id="step2">
                    <a href="#"><span class="number">2</span><span class="step-name">Select Package</span></a>
                  </li>
                  <li class="stepbtn" id="step3">
                    <a href="#"><span class="number">3</span><span class="step-name">Payment Method</span></a>
                  </li>
                  <li class="stepbtn" id="step4">
                    <a href="#"><span class="number">4</span><span class="step-name">Preview</span></a>
                  </li>
                </ul>
                <div class="step-footer">
                  <button class="btn-first white-btn none" id="prev-1">Previous</button>
                  <button class="btn-first white-btn none" id="prev-2">Previous</button>
                  <button class="btn-first white-btn none" id="prev-3">Previous</button>
                  <button class="btn-first white-btn" id="next-1">Next</button>
                  <button class="btn-first white-btn none" id="next-2">Next</button>
                  <button class="btn-first white-btn none" id="next-3">Next</button>
                  <button class="btn-first white-btn none" id="finish-1">Finish</button>
                </div>
              </div>
              <div class="col-xl-8 col-lg-7">
                <div class="step-content">
                  <div class="step-tab-panel active" id="steppanel1">
                    <div class="general-sec">
                      <form id="step1-form">
                        {% csrf_token %}
                        <div class="row">
                          <div class="col-12">
                            <h5 class="text-light-black fw-700">General Information</h5>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="text-light-black fw-700">Restaurant name <sup class="fs-16">*</sup></label>
                              <input type="text" name="name" class="form-control form-control-submit" required>
                              <div class="text-danger" id="name-error"></div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="text-light-black fw-700">Restaurant phone</label>
                              <input type="text" name="phone" class="form-control form-control-submit">
                              <div class="text-danger" id="phone-error"></div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="text-light-black fw-700">Manager Name</label>
                              <input type="text" name="manager_name" class="form-control form-control-submit">
                              <div class="text-danger" id="manager_name-error"></div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="text-light-black fw-700">Manager Contact phone</label>
                              <input type="text" name="manager_phone" class="form-control form-control-submit">
                              <div class="text-danger" id="manager_phone-error"></div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="text-light-black fw-700">Contact Email <sup class="fs-16">*</sup></label>
                              <input type="email" name="contact_email" class="form-control form-control-submit" required>
                              <div class="text-danger" id="contact_email-error"></div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <div class="u-line mb-xl-20"></div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <h5 class="text-light-black fw-700">Location</h5>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="text-light-black fw-700">Country <sup class="fs-16">*</sup></label>
                              <input type="text" name="country" class="form-control form-control-submit" required>
                              <div class="text-danger" id="country-error"></div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="text-light-black fw-700">State</label>
                              <input type="text" name="state" class="form-control form-control-submit">
                              <div class="text-danger" id="state-error"></div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="text-light-black fw-700">City</label>
                              <input type="text" name="city" class="form-control form-control-submit">
                              <div class="text-danger" id="city-error"></div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="text-light-black fw-700">Latitude</label>
                              <input type="number" name="latitude" class="form-control form-control-submit" step="0.0001">
                              <div class="text-danger" id="latitude-error"></div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="text-light-black fw-700">Longitude</label>
                              <input type="number" name="longitude" class="form-control form-control-submit" step="0.0001">
                              <div class="text-danger" id="longitude-error"></div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="text-light-black fw-700">Address</label>
                              <input type="text" name="address" class="form-control form-control-submit" placeholder="Type Your Address">
                              <div class="text-danger" id="address-error"></div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <button type="button" class="btn-second btn-submit">Search Location</button>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <div class="u-line mb-xl-20"></div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="text-light-black fw-700">Delivery/Pickup</label>
                              <div>
                                <label class="custom-radio mr-3">
                                  <input type="radio" name="delivery_type" value="delivery"> Delivery
                                </label>
                                <label class="custom-radio mr-3">
                                  <input type="radio" name="delivery_type" value="pickup"> Pickup
                                </label>
                                <label class="custom-radio">
                                  <input type="radio" name="delivery_type" value="delivery_and_pickup" checked> Delivery & Pickup
                                </label>
                              </div>
                              <div class="text-danger" id="delivery_type-error"></div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="text-light-black fw-700">Cuisines <sup class="fs-16">*</sup></label>
                              <div>
                                {% for cuisine in cuisines %}
                                  <label class="custom-checkbox mr-3">
                                    <input type="checkbox" name="cuisines" value="{{ cuisine.id }}"> {{ cuisine.name }}
                                  </label>
                                {% endfor %}
                              </div>
                              <div class="text-danger" id="cuisines-error"></div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <div class="u-line mb-xl-20"></div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <label class="custom-checkbox text-light-black fw-700">
                              <input type="checkbox" name="accept_terms" required>
                              <span class="checkmark"></span> By Registering You Confirm That You Accept The Terms & Conditions And Privacy Policy
                            </label>
                            <div class="text-danger" id="accept_terms-error"></div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 mt-3">
                            <button type="button" class="btn-first white-btn full-width" id="next-to-package">Next</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="step-tab-panel" id="steppanel2">
                    <div class="package-sec">
                      <div class="row" id="package-list">
                        <!-- Populated by AJAX -->
                      </div>
                    </div>
                  </div>
                  <div class="step-tab-panel" id="steppanel3">
                    <div class="payment-sec">
                      <div class="section-header-left">
                        <h3 class="text-light-black header-title">Payment Information</h3>
                      </div>
                      <div class="row" id="payment-content">
                        <!-- Populated by AJAX -->
                      </div>
                    </div>
                  </div>
                  <div class="step-tab-panel" id="steppanel4">
                    <div class="thankmsg-sec">
                      <div class="msg-wrapper text-center">
                        <div class="wrapper-1 bg-black padding-20 mb-xl-20" id="preview-content">
                          <!-- Populated by AJAX -->
                        </div>
                        <button class="btn-first white-btn" id="preview-button">Preview</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="advertisement-slider swiper-container h-auto">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="large-product-box p-relative pb-0">
                <img src="{% static 'app/assets/img/sidebanner-1.jpg' %}" class="img-fluid full-width" alt="image">
                <div class="overlay padding-20">
                  <div class="tag-box">
                    <span class="text-custom-white rectangle-tag bg-gradient-red">Trending</span>
                  </div>
                  <div class="content-wrapper">
                    <h3 class="text-custom-white">50% Discount on All New Restaurants</h3>
                    <a href="#" class="btn-submit btn-second">Get Deals</a>
                  </div>
                </div>
                <div class="overlay overlay-bg"></div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="large-product-box p-relative pb-0">
                <img src="{% static 'app/assets/img/sidebanner-2.jpg' %}" class="img-fluid full-width" alt="image">
                <div class="overlay padding-20">
                  <div class="tag-box">
                    <span class="text-custom-white rectangle-tag bg-gradient-red">New</span>
                  </div>
                  <div class="content-wrapper">
                    <h3 class="text-custom-white">50% Discount on All New Restaurants</h3>
                    <a href="#" class="btn-submit btn-second">Get Deals</a>
                  </div>
                </div>
                <div class="overlay overlay-bg"></div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="large-product-box p-relative pb-0">
                <img src="{% static 'app/assets/img/sidebanner-3.jpg' %}" class="img-fluid full-width" alt="image">
                <div class="overlay padding-20">
                  <div class="tag-box">
                    <span class="text-custom-white rectangle-tag bg-gradient-red">Trending</span>
                  </div>
                  <div class="content-wrapper">
                    <h3 class="text-custom-white">50% Discount on All New Restaurants</h3>
                    <a href="#" class="btn-submit btn-second">Get Deals</a>
                  </div>
                </div>
                <div class="overlay overlay-bg"></div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="large-product-box p-relative pb-0">
                <img src="{% static 'app/assets/img/sidebanner-2.jpg' %}" class="img-fluid full-width" alt="image">
                <div class="overlay padding-20">
                  <div class="tag-box">
                    <span class="text-custom-white rectangle-tag bg-gradient-red">New</span>
                  </div>
                  <div class="content-wrapper">
                    <h3 class="text-custom-white">50% Discount on All New Restaurants</h3>
                    <a href="#" class="btn-submit btn-second">Get Deals</a>
                  </div>
                </div>
                <div class="overlay overlay-bg"></div>
              </div>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    // Step 1 to Step 2: Next button with AJAX
    $('#next-to-package').on('click', function() {
        var formData = $('#step1-form').serializeArray();
        var cuisines = $('input[name="cuisines"]:checked').map(function() { return this.value; }).get();
        formData.push({name: 'cuisines', value: cuisines});
        $.ajax({
            url: '{% url "restaurant-step1" %}',
            type: 'POST',
            data: formData,
            headers: {'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()},
            success: function(response) {
                if (response.next_step === 'select-package') {
                    $('#step1').addClass('done');
                    $('#steppanel1').removeClass('active');
                    $('#steppanel2').addClass('active');
                    $('#step1').removeClass('active');
                    $('#step2').addClass('active');
                    $('#next-1').hide();
                    $('#prev-1').show();
                    $('#next-2').show();
                    $.get('{% url "restaurant-step2" %}', function(data) {
                        var packagesHtml = '';
                        data.packages.forEach(function(pkg) {
                            packagesHtml += `
                                <div class="col-xl-6 col-lg-12 col-md-6">
                                    <div class="package-box main-box mb-lg-20">
                                        <div class="package-img">
                                            <a href="#"><img src="{% static 'app/assets/img/package/package-1.jpg' %}" class="img-fluid full-width" alt="package image" /></a>
                                        </div>
                                        <div class="package-caption padding-20 bg-black">
                                            <div class="package-item-first">
                                                <div class="pack-type fs-18 text-custom-white">${pkg.name}</div>
                                                <div class="pack-type fs-18 text-light-green">$${pkg.price}</div>
                                            </div>
                                            <ul>
                                                <li class="text-custom-white"><span>${pkg.duration_days} days</span></li>
                                                <li class="text-custom-white"><span>${pkg.description}</span></li>
                                            </ul>
                                            <div class="package-btn">
                                                <button type="button" class="btn-second btn-submit full-width choose-package" data-package-id="${pkg.id}">Choose Plan</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            `;
                        });
                        $('#package-list').html(packagesHtml);
                    });
                }
            },
            error: function(xhr) {
                var errors = xhr.responseJSON;
                if (errors) {
                    $.each(errors, function(key, value) {
                        $('#' + key + '-error').text(value[0]);
                    });
                } else {
                    alert('An error occurred. Please try again.');
                }
            }
        });
    });

    // Step 2 to Step 3: Choose Package
    $(document).on('click', '.choose-package', function() {
        var packageId = $(this).data('package-id');
        $.ajax({
            url: '{% url "restaurant-step2" %}',
            type: 'POST',
            data: { package: packageId },
            headers: {'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()},
            success: function(response) {
                if (response.next_step === 'payment') {
                    $('#step2').addClass('done');
                    $('#steppanel2').removeClass('active');
                    $('#steppanel3').addClass('active');
                    $('#step2').removeClass('active');
                    $('#step3').addClass('active');
                    $('#next-2').hide();
                    $('#prev-2').show();
                    $('#next-3').show();
                    $('#payment-content').html(`
                        <div class="col-12">
                            <div class="form-group">
                                <label class="text-light-black fw-700">Payment Method</label>
                                <select name="payment_method" class="form-control form-control-submit custom-select-2 full-width">
                                    <option value="credit_card">Credit Card</option>
                                    <option value="paypal">PayPal</option>
                                    <option value="cash">Cash</option>
                                    <option value="gift_card">Gift Card</option>
                                    <option value="amex">Amex Express</option>
                                </select>
                                <div class="text-danger" id="payment_method-error"></div>
                            </div>
                            <button type="button" class="btn-first green-btn text-custom-white full-width fw-500 proceed-to-preview">Proceed to Preview</button>
                        </div>
                    `);
                }
            },
            error: function(xhr) {
                var errors = xhr.responseJSON;
                if (errors) {
                    $('#package-error').text(errors.package ? errors.package[0] : 'Please select a package.');
                }
            }
        });
    });

    // Step 3 to Step 4: Proceed to Preview
    $(document).on('click', '.proceed-to-preview', function() {
        var paymentMethod = $('#payment-content select[name="payment_method"]').val();
        $.ajax({
            url: '{% url "restaurant-step3" %}',
            type: 'POST',
            data: { payment_method: paymentMethod },
            headers: {'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()},
            success: function(response) {
                if (response.next_step === 'save-preview') {
                    $('#step3').addClass('done');
                    $('#steppanel3').removeClass('active');
                    $('#steppanel4').addClass('active');
                    $('#step3').removeClass('active');
                    $('#step4').addClass('active');
                    $('#next-3').hide();
                    $('#prev-3').show();
                    $('#finish-1').show();
                    $('#preview-content').html(`
                        <h1 class="text-light-green mb-2">Thank You</h1>
                        <h3 class="text-custom-white">We are looking forward for next order.</h3>
                        <p class="text-custom-white">You have successfully created your restaurant. To add more details, go to your email inbox for login details.</p>
                    `);
                }
            },
            error: function(xhr) {
                var errors = xhr.responseJSON;
                if (errors) {
                    $('#payment_method-error').text(errors.payment_method ? errors.payment_method[0] : 'Payment step failed.');
                }
            }
        });
    });

    // Step 4: Preview button
    $(document).on('click', '#preview-button', function() {
        var allData = $('#step1-form').serializeArray();
        var cuisines = $('input[name="cuisines"]:checked').map(function() { return this.value; }).get();
        allData.push({name: 'cuisines', value: cuisines});
        $.ajax({
            url: '{% url "restaurant-final" %}',
            type: 'POST',
            data: allData,
            headers: {'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()},
            success: function(response) {
                window.location.href = '/restaurants/' + response.restaurant_id + '/';
            },
            error: function(xhr) {
                var errors = xhr.responseJSON;
                if (errors) {
                    $.each(errors, function(key, value) {
                        $('#' + key + '-error').text(value[0]);
                    });
                } else {
                    alert('Failed to save restaurant.');
                }
            }
        });
    });
});
</script>
{% endblock content %}