{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Munchbox | Add Restaurant{% endblock title %}

{% block content %}
<div class="main-sec"></div>
<section class="register-restaurent-sec section-padding bg-light-theme">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-9">
        <div class="sidebar-tabs main-box padding-20 mb-md-40">
          <div id="add-restaurent-tab" class="step-app">
            <div class="row">
              <div class="col-xl-4 col-lg-5 mb-md-40">
                <ul class="step-steps steps-1">
                  <li class="stepbtn active" id="step1">
                    <a href="#"><span class="number"></span><span class="step-name">General Info</span></a>
                  </li>
                  <li class="stepbtn" id="step2">
                    <a href="#"><span class="number"></span><span class="step-name">Select Package</span></a>
                  </li>
                  <li class="stepbtn" id="step3">
                    <a href="#"><span class="number"></span><span class="step-name">Payment</span></a>
                  </li>
                  <li class="stepbtn" id="step4">
                    <a href="#"><span class="number"></span><span class="step-name">Save & Preview</span></a>
                  </li>
                </ul>
                <ul class="step-steps steps-2">
                  <li class="add-res-tab active" id="stepbtn1">
                    <a href="#" class="add-res-tab">General Info</a>
                  </li>
                  <li class="add-res-tab" id="stepbtn2">
                    <a href="#" class="add-res-tab">Select Package</a>
                  </li>
                  <li class="add-res-tab" id="stepbtn3">
                    <a href="#" class="add-res-tab">Payment</a>
                  </li>
                  <li class="add-res-tab" id="stepbtn4">
                    <a href="#" class="add-res-tab">Save & Preview</a>
                  </li>
                </ul>
                <div class="step-footer">
                  <button class="btn-first white-btn none" id="prev-1">Previous</button>
                  <button class="btn-first white-btn none" id="prev-2">Previous</button>
                  <button class="btn-first white-btn none" id="prev-3">Previous</button>
                  <button class="btn-first white-btn" id="next-1">Next</button>
                  <button class="btn-first white-btn none" id="next-2">Next</button>
                  <button class="btn-first white-btn none" id="next-3">Next</button>
                  <button class="btn-first white-btn none" id="finish-1">Finish</button>
                </div>
              </div>
              <div class="col-xl-8 col-lg-7">
                <div class="step-content">
                  <div class="step-tab-panel active" id="steppanel1">
                    <div class="general-sec">
                      <form id="step1-form">
                        {% csrf_token %}
                        <div class="row">
                          <div class="col-12">
                            <h5 class="text-light-black fw-700">General Information</h5>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="text-light-black fw-700">Restaurant name <sup class="fs-16">*</sup></label>
                              <input type="text" name="name" class="form-control form-control-submit" required />
                              <div class="text-danger" id="name-error"></div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="text-light-black fw-700">Restaurant phone</label>
                              <input type="text" name="phone" class="form-control form-control-submit" />
                              <div class="text-danger" id="phone-error"></div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="text-light-black fw-700">Manager Name</label>
                              <input type="text" name="manager_name" class="form-control form-control-submit" />
                              <div class="text-danger" id="manager_name-error"></div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="text-light-black fw-700">Manager Contact phone</label>
                              <input type="text" name="manager_phone" class="form-control form-control-submit" />
                              <div class="text-danger" id="manager_phone-error"></div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="text-light-black fw-700">Contact Email <sup class="fs-16">*</sup></label>
                              <input type="email" name="contact_email" class="form-control form-control-submit" required />
                              <div class="text-danger" id="contact_email-error"></div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <div class="u-line mb-xl-20"></div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <h5 class="text-light-black fw-700">Location</h5>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <label class="text-light-black fw-700">Country <sup class="fs-16">*</sup></label>
                              <input type="text" name="country" class="form-control form-control-submit custom-select-2 full-width" required />
                              <div class="text-danger" id="country-error"></div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="text-light-black fw-700">State</label>
                              <input type="text" name="state" class="form-control form-control-submit custom-select-2 full-width" />
                              <div class="text-danger" id="state-error"></div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="text-light-black fw-700">City</label>
                              <input type="text" name="city" class="form-control form-control-submit custom-select-2 full-width" />
                              <div class="text-danger" id="city-error"></div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="text-light-black fw-700">Latitude</label>
                              <input type="number" name="latitude" class="form-control form-control-submit" step="0.0001" />
                              <div class="text-danger" id="latitude-error"></div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="text-light-black fw-700">Longitude</label>
                              <input type="number" name="longitude" class="form-control form-control-submit" step="0.0001" />
                              <div class="text-danger" id="longitude-error"></div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="text-light-black fw-700">Address</label>
                              <input type="text" name="address" class="form-control form-control-submit" placeholder="Type Your Address" />
                              <div class="text-danger" id="address-error"></div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <button type="button" class="btn-second btn-submit" id="search-location">Search Location</button>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <iframe id="locmap" class="w-100" height="300" src="https://maps.google.com/maps?q=university%20of%20san%20francisco&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <div class="u-line mb-xl-20"></div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="text-light-black fw-700">Delivery/Pickup</label>
                              <select name="delivery_type" class="form-control form-control-submit custom-select-2 full-width">
                                <option value="delivery">Delivery</option>
                                <option value="pickup">Pickup</option>
                                <option value="delivery_and_pickup" selected>Delivery & Pickup</option>
                              </select>
                              <div class="text-danger" id="delivery_type-error"></div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="text-light-black fw-700">Cuisines <sup class="fs-16">*</sup></label>
                              <select name="cuisines[]" id="cuisines-select" class="form-control form-control-submit custom-select-2 full-width" multiple required>
                                {% if cuisines %}
                                  {% for cuisine in cuisines %}
                                    <option value="{{ cuisine.id }}">{{ cuisine.name }}</option>
                                  {% endfor %}
                                {% else %}
                                  <option disabled>No cuisines available. Please add cuisines in the admin panel.</option>
                                {% endif %}
                              </select>
                              <div class="text-danger" id="cuisines-error"></div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <div class="u-line mb-xl-20"></div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <label class="custom-checkbox text-light-black fw-700">
                              <input type="checkbox" name="accept_terms" required />
                              <span class="checkmark"></span>By Registering You Confirm That You Accept The Terms & Conditions And Privacy Policy
                            </label>
                            <div class="text-danger" id="accept_terms-error"></div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 mt-3">
                            <button type="button" class="btn-first white-btn full-width" id="next-to-package">Next</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="step-tab-panel" id="steppanel2">
                    <div class="package-sec">
                      <div class="row" id="package-list">
                        <!-- Populated by AJAX -->
                      </div>
                    </div>
                  </div>
                  <div class="step-tab-panel" id="steppanel3">
                    <div class="payment-sec">
                      <div class="section-header-left">
                        <h3 class="text-light-black header-title">Payment Information</h3>
                      </div>
                      <div class="row" id="payment-content">
                        <div class="col-12">
                          <div class="payment-book">
                            <div class="payment-info-tab">
                              <ul class="nav nav-pills justify-content-center" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                  <a class="nav-link active" id="pills-gift-tab" data-toggle="pill" href="#pills-gift" role="tab" aria-controls="pills-gift" aria-selected="true">Pay with a Gift Card</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" id="pills-promo-tab" data-toggle="pill" href="#pills-promo" role="tab" aria-controls="pills-promo" aria-selected="false">Add a promo code</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" id="pills-credit-tab" data-toggle="pill" href="#pills-credit" role="tab" aria-controls="pills-credit" aria-selected="false">Saved credit card</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" id="pills-newcredit-tab" data-toggle="pill" href="#pills-newcredit" role="tab" aria-controls="pills-newcredit" aria-selected="false">New credit card</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" id="pills-cash-tab" data-toggle="pill" href="#pills-cash" role="tab" aria-controls="pills-cash" aria-selected="false">Cash</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" id="pills-paypal-tab" data-toggle="pill" href="#pills-paypal" role="tab" aria-controls="pills-paypal" aria-selected="false">PayPalTM</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" id="pills-amex-tab" data-toggle="pill" href="#pills-amex" role="tab" aria-controls="pills-amex" aria-selected="false">Amex Express Checkout</a>
                                </li>
                              </ul>
                              <div class="tab-content" id="pills-tabContent">
                                <!-- Gift Card -->
                                <div class="tab-pane fade show active" id="pills-gift" role="tabpanel" aria-labelledby="pills-gift-tab">
                                  <div class="form-group">
                                    <input type="text" class="form-control form-control-submit" placeholder="Gift Card Number">
                                    <input type="text" class="form-control form-control-submit" placeholder="PIN">
                                    <button type="button" class="btn-second btn-submit">Apply</button>
                                  </div>
                                </div>
                                <!-- Promo Code -->
                                <div class="tab-pane fade" id="pills-promo" role="tabpanel" aria-labelledby="pills-promo-tab">
                                  <div class="form-group">
                                    <input type="text" class="form-control form-control-submit" placeholder="Enter promo code">
                                    <button type="button" class="btn-second btn-submit">Apply</button>
                                  </div>
                                </div>
                                <!-- Saved Credit Card -->
                                <div class="tab-pane fade" id="pills-credit" role="tabpanel" aria-labelledby="pills-credit-tab">
                                  <div class="payment-content">
                                    <div class="payment-info">
                                      <div class="accordion" id="saved-credit-accordion">
                                        <div class="card">
                                          <div class="card-header" id="saved-credit-heading">
                                            <h2 class="mb-0">
                                              <button class="btn btn-link text-light-black fw-700" type="button" data-toggle="collapse" data-target="#saved-credit-collapse" aria-expanded="true" aria-controls="saved-credit-collapse">
                                                Saved Card
                                              </button>
                                            </h2>
                                          </div>
                                          <div id="saved-credit-collapse" class="collapse show" aria-labelledby="saved-credit-heading" data-parent="#saved-credit-accordion">
                                            <div class="card-body">
                                              <div class="form-group">
                                                <label class="custom-control custom-radio">
                                                  <input type="radio" name="payment_method" class="custom-control-input" value="credit_card" checked>
                                                  <span class="custom-control-label"><img src="{% static 'app/assets/img/credit-card.png' %}" alt="credit card"> XXXX-XXXX-XXXX-1234</span>
                                                </label>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="payment-info">
                                      <label class="custom-checkbox">
                                        <input type="checkbox" name="donate_change">
                                        <span class="checkmark"></span>Donate $0.77 to No Kid Hungry. By checking this box you agree to the Donate the Change Terms of use <a href="#">Learn More</a>
                                      </label>
                                    </div>
                                    <button type="button" class="btn-first green-btn text-custom-white full-width fw-500 proceed-to-preview">Place Your Order</button>
                                    <p class="text-light-black">By placing your order, you agree to Munchbox's terms of use and privacy agreement</p>
                                  </div>
                                </div>
                                <!-- New Credit Card -->
                                <div class="tab-pane fade" id="pills-newcredit" role="tabpanel" aria-labelledby="pills-newcredit-tab">
                                  <div class="payment-content">
                                    <div class="payment-info">
                                      <div class="accordion" id="new-credit-accordion">
                                        <div class="card">
                                          <div class="card-header" id="new-credit-heading">
                                            <h2 class="mb-0">
                                              <button class="btn btn-link text-light-black fw-700" type="button" data-toggle="collapse" data-target="#new-credit-collapse" aria-expanded="true" aria-controls="new-credit-collapse">
                                                Add New Card
                                              </button>
                                            </h2>
                                          </div>
                                          <div id="new-credit-collapse" class="collapse show" aria-labelledby="new-credit-heading" data-parent="#new-credit-accordion">
                                            <div class="card-body">
                                              <div class="form-group">
                                                <input type="text" class="form-control form-control-submit" placeholder="Card Number">
                                                <input type="text" class="form-control form-control-submit" placeholder="Expires on">
                                                <input type="text" class="form-control form-control-submit" placeholder="Security Code">
                                                <input type="text" class="form-control form-control-submit" placeholder="ZIP Code">
                                                <label class="custom-checkbox">
                                                  <input type="checkbox" name="save_card">
                                                  <span class="checkmark"></span>Save Credit card
                                                </label>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="payment-info">
                                      <label class="custom-checkbox">
                                        <input type="checkbox" name="donate_change">
                                        <span class="checkmark"></span>Donate $0.77 to No Kid Hungry. By checking this box you agree to the Donate the Change Terms of use <a href="#">Learn More</a>
                                      </label>
                                    </div>
                                    <button type="button" class="btn-first green-btn text-custom-white full-width fw-500 proceed-to-preview" data-method="credit_card">Place Your Order</button>
                                    <p class="text-light-black">By placing your order, you agree to Munchbox's terms of use and privacy agreement</p>
                                  </div>
                                </div>
                                <!-- Cash -->
                                <div class="tab-pane fade" id="pills-cash" role="tabpanel" aria-labelledby="pills-cash-tab">
                                  <div class="payment-content">
                                    <p class="text-light-black">Have the cash ready when you receive your order.</p>
                                    <div class="payment-info">
                                      <label class="custom-checkbox">
                                        <input type="checkbox" name="donate_change" disabled>
                                        <span class="checkmark"></span>Apologies, but you can't donate with the selected payment type
                                      </label>
                                    </div>
                                    <button type="button" class="btn-first green-btn text-custom-white full-width fw-500 proceed-to-preview" data-method="cash">Place Your Order</button>
                                    <p class="text-light-black">By placing your order, you agree to Munchbox's terms of use and privacy agreement</p>
                                  </div>
                                </div>
                                <!-- PayPal -->
                                <div class="tab-pane fade" id="pills-paypal" role="tabpanel" aria-labelledby="pills-paypal-tab">
                                  <div class="payment-content">
                                    <p class="text-light-black">Please review your order and make any necessary changes before checking out with PayPal.</p>
                                    <div class="payment-info">
                                      <label class="custom-checkbox">
                                        <input type="checkbox" name="donate_change">
                                        <span class="checkmark"></span>Donate $0.77 to No Kid Hungry. By checking this box you agree to the Donate the Change Terms of use <a href="#">Learn More</a>
                                      </label>
                                    </div>
                                    <button type="button" class="btn-first green-btn text-custom-white full-width fw-500 proceed-to-preview" data-method="paypal">Checkout with <img src="{% static 'app/assets/img/paypal.png' %}" alt="paypal"></button>
                                    <p class="text-light-black">By placing your order, you agree to Munchbox's terms of use and privacy agreement</p>
                                  </div>
                                </div>
                                <!-- Amex Express -->
                                <div class="tab-pane fade" id="pills-amex" role="tabpanel" aria-labelledby="pills-amex-tab">
                                  <div class="payment-content">
                                    <div class="payment-info">
                                      <div class="accordion" id="amex-accordion">
                                        <div class="card">
                                          <div class="card-header" id="amex-heading">
                                            <h2 class="mb-0">
                                              <button class="btn btn-link text-light-black fw-700" type="button" data-toggle="collapse" data-target="#amex-collapse" aria-expanded="true" aria-controls="amex-collapse">
                                                Saved Card
                                              </button>
                                            </h2>
                                          </div>
                                          <div id="amex-collapse" class="collapse show" aria-labelledby="amex-heading" data-parent="#amex-accordion">
                                            <div class="card-body">
                                              <div class="form-group">
                                                <label class="custom-control custom-radio">
                                                  <input type="radio" name="payment_method_amex" class="custom-control-input" value="amex" checked>
                                                  <span class="custom-control-label"><img src="{% static 'app/assets/img/credit-card.png' %}" alt="credit card"> XXXX-XXXX-XXXX-1234</span>
                                                </label>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="payment-info">
                                      <div class="accordion" id="amex-new-accordion">
                                        <div class="card">
                                          <div class="card-header" id="amex-new-heading">
                                            <h2 class="mb-0">
                                              <button class="btn btn-link text-light-black fw-700" type="button" data-toggle="collapse" data-target="#amex-new-collapse" aria-expanded="true" aria-controls="amex-new-collapse">
                                                Add New Card
                                              </button>
                                            </h2>
                                          </div>
                                          <div id="amex-new-collapse" class="collapse show" aria-labelledby="amex-new-heading" data-parent="#amex-new-accordion">
                                            <div class="card-body">
                                              <div class="form-group">
                                                <input type="text" class="form-control form-control-submit" placeholder="Card Number">
                                                <input type="text" class="form-control form-control-submit" placeholder="Expires on">
                                                <input type="text" class="form-control form-control-submit" placeholder="Security Code">
                                                <input type="text" class="form-control form-control-submit" placeholder="ZIP Code">
                                                <label class="custom-checkbox">
                                                  <input type="checkbox" name="save_card">
                                                  <span class="checkmark"></span>Save Credit card
                                                </label>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="payment-info">
                                      <label class="custom-checkbox">
                                        <input type="checkbox" name="donate_change">
                                        <span class="checkmark"></span>Donate $0.77 to No Kid Hungry. By checking this box you agree to the Donate the Change Terms of use <a href="#">Learn More</a>
                                      </label>
                                    </div>
                                    <button type="button" class="btn-first green-btn text-custom-white full-width fw-500 proceed-to-preview" data-method="amex">Place Your Order</button>
                                    <p class="text-light-black">By placing your order, you agree to Munchbox's terms of use and privacy agreement</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="step-tab-panel" id="steppanel4">
                    <div class="thankmsg-sec">
                      <div class="msg-wrapper text-center">
                        <div class="wrapper-1 bg-white padding-20 mb-xl-20" id="preview-content">
                          <!-- Populated by AJAX -->
                        </div>
                        <button class="btn-first white-btn" id="preview-button">Preview</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="advertisement-slider swiper-container h-auto">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="large-product-box p-relative pb-0">
                <img src="{% static 'app/assets/img/sidebanner-1.jpg' %}" class="img-fluid full-width" alt="image" />
                <div class="overlay padding-20">
                  <div class="tag-box">
                    <span class="text-custom-white rectangle-tag bg-gradient-red">Trending</span>
                  </div>
                  <div class="content-wrapper">
                    <h3 class="text-custom-white">50% Discount on All New Restaurants</h3>
                    <a href="#" class="btn-submit btn-second">Get Deals</a>
                  </div>
                </div>
                <div class="overlay overlay-bg"></div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="large-product-box p-relative pb-0">
                <img src="{% static 'app/assets/img/sidebanner-2.jpg' %}" class="img-fluid full-width" alt="image" />
                <div class="overlay padding-20">
                  <div class="tag-box">
                    <span class="text-custom-white rectangle-tag bg-gradient-red">New</span>
                  </div>
                  <div class="content-wrapper">
                    <h3 class="text-custom-white">50% Discount on All New Restaurants</h3>
                    <a href="#" class="btn-submit btn-second">Get Deals</a>
                  </div>
                </div>
                <div class="overlay overlay-bg"></div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="large-product-box p-relative pb-0">
                <img src="{% static 'app/assets/img/sidebanner-3.jpg' %}" class="img-fluid full-width" alt="image" />
                <div class="overlay padding-20">
                  <div class="tag-box">
                    <span class="text-custom-white rectangle-tag bg-gradient-red">Trending</span>
                  </div>
                  <div class="content-wrapper">
                    <h3 class="text-custom-white">50% Discount on All New Restaurants</h3>
                    <a href="#" class="btn-submit btn-second">Get Deals</a>
                  </div>
                </div>
                <div class="overlay overlay-bg"></div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="large-product-box p-relative pb-0">
                <img src="{% static 'app/assets/img/sidebanner-2.jpg' %}" class="img-fluid full-width" alt="image" />
                <div class="overlay padding-20">
                  <div class="tag-box">
                    <span class="text-custom-white rectangle-tag bg-gradient-red">New</span>
                  </div>
                  <div class="content-wrapper">
                    <h3 class="text-custom-white">50% Discount on All New Restaurants</h3>
                    <a href="#" class="btn-submit btn-second">Get Deals</a>
                  </div>
                </div>
                <div class="overlay overlay-bg"></div>
              </div>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    // Step 1 to Step 2: Next button with AJAX
    $('#next-to-package').on('click', function() {
        var formData = {
            name: $('input[name="name"]').val(),
            phone: $('input[name="phone"]').val(),
            manager_name: $('input[name="manager_name"]').val(),
            manager_phone: $('input[name="manager_phone"]').val(),
            contact_email: $('input[name="contact_email"]').val(),
            country: $('input[name="country"]').val(),
            state: $('input[name="state"]').val(),
            city: $('input[name="city"]').val(),
            latitude: $('input[name="latitude"]').val(),
            longitude: $('input[name="longitude"]').val(),
            address: $('input[name="address"]').val(),
            delivery_type: $('select[name="delivery_type"]').val(),
            cuisines: $('#cuisines-select').val() || []
        };

        var transformedCuisines = formData.cuisines.map(function(value) {
            var intValue = parseInt(value, 10);
            return isNaN(intValue) ? null : intValue;
        }).filter(function(value) { return value !== null; });
        formData.cuisines = transformedCuisines;

        if (formData.cuisines.length === 0) {
            $('#cuisines-error').text('Please select at least one cuisine.');
            return;
        }

        $('.text-danger').text('');

        $.ajax({
            url: "{% url 'restaurants:restaurant-step1' %}",
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(formData),
            headers: { 'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val() },
            success: function(response) {
                if (response.next_step === 'select-package') {
                    $('#step1').addClass('done').removeClass('active');
                    $('#stepbtn1').addClass('done').removeClass('active');
                    $('#steppanel1').removeClass('active');
                    $('#step2').addClass('active');
                    $('#stepbtn2').addClass('active');
                    $('#steppanel2').addClass('active');
                    $('#next-1').hide();
                    $('#prev-1').show();
                    $('#next-2').show();
                    $.get("{% url 'restaurants:restaurant-step2' %}", function(data) {
                        var packagesHtml = '';
                        data.packages.forEach(function(pkg) {
                            packagesHtml += `
                                <div class="col-xl-6 col-lg-12 col-md-6">
                                    <div class="package-box main-box mb-lg-20">
                                        <div class="package-img">
                                            <a href="#"><img src="{% static 'app/assets/img/package/package-1.jpg' %}" class="img-fluid full-width" alt="package image" /></a>
                                        </div>
                                        <div class="package-caption padding-20 bg-black">
                                            <div class="package-item-first">
                                                <div class="pack-type fs-18 text-custom-white">${pkg.name}</div>
                                                <div class="pack-type fs-18 text-light-green">$${pkg.price}</div>
                                            </div>
                                            <ul>
                                                <li class="text-custom-white"><span>${pkg.duration_days} days</span></li>
                                                <li class="text-custom-white"><span>${pkg.description}</span></li>
                                            </ul>
                                            <div class="package-btn">
                                                <button type="button" class="btn-second btn-submit full-width choose-package" data-package-id="${pkg.id}">Choose Plan</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            `;
                        });
                        $('#package-list').html(packagesHtml);
                    });
                }
            },
            error: function(xhr) {
                var errors = xhr.responseJSON;
                if (errors) {
                    $.each(errors, function(key, value) {
                        $('#' + key + '-error').text(value[0] || value);
                    });
                } else {
                    alert('An error occurred. Please try again.');
                }
            }
        });
    });

    // Search Location functionality
    $('#search-location').on('click', function() {
        var latitude = $('input[name="latitude"]').val();
        var longitude = $('input[name="longitude"]').val();

        if (!latitude || !longitude) {
            alert('Please enter both latitude and longitude.');
            return;
        }

        latitude = parseFloat(latitude);
        longitude = parseFloat(longitude);

        if (latitude < -90 || latitude > 90) {
            alert('Latitude must be between -90 and 90.');
            return;
        }
        if (longitude < -180 || longitude > 180) {
            alert('Longitude must be between -180 and 180.');
            return;
        }

        var mapUrl = `https://maps.google.com/maps?q=${latitude},${longitude}&t=&z=13&ie=UTF8&iwloc=&output=embed`;
        $('#locmap').attr('src', mapUrl);
    });

    // Step 2 to Step 3: Choose Package
    $(document).on('click', '.choose-package', function() {
        var packageId = $(this).data('package-id');
        $.ajax({
            url: '{% url 'restaurants:restaurant-step2' %}',
            type: 'POST',
            data: { package: packageId },
            headers: { 'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val() },
            success: function(response) {
                if (response.next_step === 'payment') {
                    $('#step2').addClass('done').removeClass('active');
                    $('#stepbtn2').addClass('done').removeClass('active');
                    $('#steppanel2').removeClass('active');
                    $('#step3').addClass('active');
                    $('#stepbtn3').addClass('active');
                    $('#steppanel3').addClass('active');
                    $('#next-2').hide();
                    $('#prev-2').show();
                    $('#next-3').show();
                }
            },
            error: function(xhr) {
                alert('An error occurred while selecting the package.');
            }
        });
    });

    // Step 3 to Step 4: Proceed to Preview
    $(document).on('click', '.proceed-to-preview', function() {
        var paymentMethod = $(this).data('method') || 'credit_card'; // Default to credit_card if not specified
        $.ajax({
            url: "{% url 'restaurants:restaurant-step3' %}",
            type: 'POST',
            data: { payment_method: paymentMethod },
            headers: { 'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val() },
            success: function(response) {
                if (response.next_step === 'preview') {
                    $('#step3').addClass('done').removeClass('active');
                    $('#stepbtn3').addClass('done').removeClass('active');
                    $('#steppanel3').removeClass('active');
                    $('#step4').addClass('active');
                    $('#stepbtn4').addClass('active');
                    $('#steppanel4').addClass('active');
                    $('#next-3').hide();
                    $('#prev-3').show();
                    $('#finish-1').show();
                    $.get('{% url "restaurants:restaurant-preview" %}', function(data) {
                        $('#preview-content').html(data.preview_html);
                    });
                }
            },
            error: function(xhr) {
                alert('An error occurred during payment processing: ' + JSON.stringify(xhr.responseJSON));
            }
        });
    });

    // Previous button handlers
    $('#prev-1').on('click', function() {
        $('#steppanel2').removeClass('active');
        $('#steppanel1').addClass('active');
        $('#step2').removeClass('active');
        $('#step1').addClass('active');
        $('#stepbtn2').removeClass('active');
        $('#stepbtn1').addClass('active');
        $('#next-2').hide();
        $('#prev-1').hide();
        $('#next-1').show();
    });

    $('#prev-2').on('click', function() {
        $('#steppanel3').removeClass('active');
        $('#steppanel2').addClass('active');
        $('#step3').removeClass('active');
        $('#step2').addClass('active');
        $('#stepbtn3').removeClass('active');
        $('#stepbtn2').addClass('active');
        $('#next-3').hide();
        $('#prev-2').hide();
        $('#next-2').show();
    });

    $('#prev-3').on('click', function() {
        $('#steppanel4').removeClass('active');
        $('#steppanel3').addClass('active');
        $('#step4').removeClass('active');
        $('#step3').addClass('active');
        $('#stepbtn4').removeClass('active');
        $('#stepbtn3').addClass('active');
        $('#finish-1').hide();
        $('#prev-3').hide();
        $('#next-3').show();
    });

    // Finish button handler
    $('#finish-1').on('click', function() {
        alert('Submission completed!');
    });
});
</script>
{% endblock content %}