{% extends 'base.html' %}
{% load static %}
{% block title %} Munchbox | Landing Page {% endblock title %}
{% block content %}

<div class="main-sec"></div>
<!-- Navigation -->
<!-- slider -->
<section class="about-us-slider swiper-container p-relative">
  <div class="swiper-wrapper">
    <div class="swiper-slide slide-item">
      <img
        src="{% static 'app/assets/img/about/blog/1920x700/banner-1.jpg' %}"
        class="img-fluid full-width"
        alt="Banner"
      />
      <div class="transform-center">
        <div class="container">
          <div class="row justify-content-start">
            <div class="col-lg-7 align-self-center">
              <div class="right-side-content">
                <h1 class="text-custom-white fw-600">
                  Increase takeout sales by 50%
                </h1>
                <h3 class="text-custom-white fw-400">
                  with the largest delivery platform in the U.S. and Canada
                </h3>
                <a href="{% url 'restaurants:list_restaurants' %}" class="btn-second btn-submit">
                  Learn More.
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overlay overlay-bg"></div>
    </div>
    <div class="swiper-slide slide-item">
      <img
        src="{% static 'app/assets/img/about/blog/1920x700/banner-2.jpg' %}"
        class="img-fluid full-width"
        alt="Banner"
      />
      <div class="transform-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8 align-self-center">
              <div class="right-side-content text-center">
                <h1 class="text-custom-white fw-600">
                  Increase takeout sales by 50%
                </h1>
                <h3 class="text-custom-white fw-400">
                  with the largest delivery platform in the U.S. and Canada
                </h3>
                <a href="{% url 'restaurants:list_restaurants' %}" class="btn-second btn-submit">
                  Learn More.
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overlay overlay-bg"></div>
    </div>
    <div class="swiper-slide slide-item">
      <img
        src="{% static 'app/assets/img/about/blog/1920x700/banner-3.jpg' %}"
        class="img-fluid full-width"
        alt="Banner"
      />
      <div class="transform-center">
        <div class="container">
          <div class="row justify-content-end">
            <div class="col-lg-7 align-self-center">
              <div class="right-side-content text-right">
                <h1 class="text-custom-white fw-600">
                  Increase takeout sales by 50%
                </h1>
                <h3 class="text-custom-white fw-400">
                  with the largest delivery platform in the U.S. and Canada
                </h3>
                <a href="{% url 'restaurants:list_restaurants' %}" class="btn-second btn-submit">
                  Learn More.
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overlay overlay-bg"></div>
    </div>
  </div>
  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</section>
<!-- slider -->
<!-- Browse by category -->
<section class="browse-cat u-line section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-header-left">
          <h3 class="text-light-black header-title title">
            Browse by cuisine
            <span class="fs-14"
              ><a href="{% url 'restaurants:list_restaurants' %}">See all restaurant</a></span
            >
          </h3>
        </div>
      </div>
      <div class="col-12">
        <div class="category-slider swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a href="{% url 'restaurants:restaurants_by_category' category='Brooklyn' %}" class="categories">
                <div class="icon icon-parent text-custom-white bg-light-green">
                  <i class="fas fa-map-marker-alt"></i>
                </div>
                <span class="text-light-black cat-name">Brooklyn</span>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="{% url 'restaurants:restaurants_by_category' category='Italian' %}" class="categories">
                <div class="icon text-custom-white bg-light-green">
                  <img
                    src="{% static 'app/assets/img/restaurants/125x125/cuisine-1.jpg' %}"
                    class="rounded-circle"
                    alt="categories"
                  />
                </div>
                <span class="text-light-black cat-name">Italian</span>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="{% url 'restaurants:restaurants_by_category' category='Thai' %}" class="categories">
                <div class="icon text-custom-white bg-light-green">
                  <img
                    src="{% static 'app/assets/img/restaurants/125x125/cuisine-2.jpg' %}"
                    class="rounded-circle"
                    alt="categories"
                  />
                </div>
                <span class="text-light-black cat-name">Thai</span>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="{% url 'restaurants:restaurants_by_category' category='Chinese' %}" class="categories">
                <div class="icon text-custom-white bg-light-green">
                  <img
                    src="{% static 'app/assets/img/restaurants/125x125/cuisine-3.jpg' %}"
                    class="rounded-circle"
                    alt="categories"
                  />
                </div>
                <span class="text-light-black cat-name">Chinese</span>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="{% url 'restaurants:restaurants_by_category' category='Mexican' %}" class="categories">
                <div class="icon text-custom-white bg-light-green">
                  <img
                    src="{% static 'app/assets/img/restaurants/125x125/cuisine-4.jpg' %}"
                    class="rounded-circle"
                    alt="categories"
                  />
                </div>
                <span class="text-light-black cat-name">Mexican</span>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="{% url 'restaurants:restaurants_by_category' category='Indian' %}" class="categories">
                <div class="icon text-custom-white bg-light-green">
                  <img
                    src="{% static 'app/assets/img/restaurants/125x125/cuisine-5.jpg' %}"
                    class="rounded-circle"
                    alt="categories"
                  />
                </div>
                <span class="text-light-black cat-name">Indian</span>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="{% url 'restaurants:restaurants_by_category' category='Lebanese' %}" class="categories">
                <div class="icon text-custom-white bg-light-green">
                  <img
                    src="{% static 'app/assets/img/restaurants/125x125/cuisine-6.jpg' %}"
                    class="rounded-circle"
                    alt="categories"
                  />
                </div>
                <span class="text-light-black cat-name">Lebanese</span>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="{% url 'restaurants:restaurants_by_category' category='Japanese' %}" class="categories">
                <div class="icon text-custom-white bg-light-green">
                  <img
                    src="{% static 'app/assets/img/restaurants/125x125/cuisine-7.jpg' %}"
                    class="rounded-circle"
                    alt="categories"
                  />
                </div>
                <span class="text-light-black cat-name">Japanese</span>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="{% url 'restaurants:restaurants_by_category' category='American' %}" class="categories">
                <div class="icon text-custom-white bg-light-green">
                  <img
                    src="{% static 'app/assets/img/restaurants/125x125/cuisine-8.jpg' %}"
                    class="rounded-circle"
                    alt="categories"
                  />
                </div>
                <span class="text-light-black cat-name">American</span>
              </a>
            </div>
          </div>
          <!-- Add Arrows -->
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Browse by category -->
<!-- Your previous orders -->
<section class="recent-order section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-header-left">
          <h3 class="text-light-black header-title title">
            Your previous orders
            <span class="fs-14"
              ><a href="{% url 'restaurants:order_history' %}">See all past orders</a></span
            >
          </h3>
        </div>
      </div>
      <div class="row">
        {% for order in recent_orders %}
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="product-box mb-md-20">
            <div class="product-img">
              <a href="{% url 'restaurants:restaurant' restaurant_id=order.restaurant.id %}">
                <img
                  src="{% static 'app/assets/img/restaurants/255x104/order-1.jpg' %}"
                  class="img-fluid full-width"
                  alt="product-img"
                />
              </a>
            </div>
            <div class="product-caption">
              <h6 class="product-title">
                <a href="{% url 'restaurants:restaurant' restaurant_id=order.restaurant.id %}" class="text-light-black">
                  {{ order.restaurant.name }}
                </a>
              </h6>
              <p class="text-light-white">{{ order.restaurant.address }}</p>
              <div class="product-btn">
                <a
                  href="{% url 'restaurants:order_details' order_id=order.id %}"
                  class="btn-first white-btn full-width text-light-green fw-600"
                  >Track Order</a
                >
              </div>
            </div>
          </div>
        </div>
        {% empty %}
        <div class="col-12 text-center">No previous orders found.</div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!-- Your previous orders -->
<!-- Explore collection -->
<section class="ex-collection section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-header-left">
          <h3 class="text-light-black header-title title">
            Explore our collections
          </h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="ex-collection-box mb-xl-20">
          <img
            src="{% static 'app/assets/img/restaurants/540x300/collection-1.jpg' %}"
            class="img-fluid full-width"
            alt="image"
          />
          <div class="category-type overlay padding-15">
            <a href="{% url 'restaurants:popular_near_you' %}" class="category-btn">Top rated</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="ex-collection-box mb-xl-20">
          <img
            src="{% static 'app/assets/img/restaurants/540x300/collection-2.jpg' %}"
            class="img-fluid full-width"
            alt="image"
          />
          <div class="category-type overlay padding-15">
            <a href="{% url 'restaurants:popular_near_you' %}" class="category-btn">Top rated</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4">
        <div class="large-product-box mb-xl-20 p-relative">
          <img
            src="{% static 'app/assets/img/restaurants/255x587/Banner-12.jpg' %}"
            class="img-fluid full-width"
            alt="image"
          />
          <div class="category-type overlay padding-15">
            <button class="category-btn">Most popular near you</button>
            <a
              href="{% url 'restaurants:popular_near_you' %}"
              class="btn-first white-btn text-light-black fw-600 full-width"
              >See all</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-8">
        <div class="row">
          {% for restaurant in curated_restaurants %}
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="product-box mb-xl-20">
              <div class="product-img">
                <a href="{% url 'restaurants:restaurant' restaurant_id=restaurant.id %}">
                  <img
                    src="{% static 'app/assets/img/restaurants/255x150/shop-23.jpg' %}"
                    class="img-fluid full-width"
                    alt="product-img"
                  />
                </a>
                <div class="overlay">
                  <div class="product-tags padding-10">
                    <span class="circle-tag">
                      <img src="{% static 'app/assets/img/svg/013-heart-1.svg' %}" alt="tag" />
                    </span>
                    <div class="custom-tag">
                      <span
                        class="text-custom-white rectangle-tag bg-gradient-red"
                      >
                        10%
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product-caption">
                <div class="title-box">
                  <h6 class="product-title">
                    <a href="{% url 'restaurants:restaurant' restaurant_id=restaurant.id %}" class="text-light-black">
                      {{ restaurant.name }}
                    </a>
                  </h6>
                  <div class="tags">
                    <span class="text-custom-white rectangle-tag bg-yellow">
                      3.1
                    </span>
                  </div>
                </div>
                <p class="text-light-white">{{ restaurant.cuisines.all|join:", " }}</p>
                <div class="product-details">
                  <div class="price-time">
                    <span class="text-light-black time">30-40 min</span>
                    <span class="text-light-white price">$10 min</span>
                  </div>
                  <div class="rating">
                    <span>
                      <i class="fas fa-star text-yellow"></i>
                      <i class="fas fa-star text-yellow"></i>
                      <i class="fas fa-star text-yellow"></i>
                      <i class="fas fa-star text-yellow"></i>
                      <i class="fas fa-star text-yellow"></i>
                    </span>
                    <span class="text-light-white text-right">4225 ratings</span>
                  </div>
                </div>
                <div class="product-footer">
                  <span class="text-custom-white square-tag">
                    <img src="{% static 'app/assets/img/svg/004-leaf.svg' %}" alt="tag" />
                  </span>
                  <span class="text-custom-white square-tag">
                    <img src="{% static 'app/assets/img/svg/006-chili.svg' %}" alt="tag" />
                  </span>
                  <span class="text-custom-white square-tag">
                    <img src="{% static 'app/assets/img/svg/005-chef.svg' %}" alt="tag" />
                  </span>
                  <span class="text-custom-white square-tag">
                    <img src="{% static 'app/assets/img/svg/008-protein.svg' %}" alt="tag" />
                  </span>
                  <span class="text-custom-white square-tag">
                    <img src="{% static 'app/assets/img/svg/009-lemon.svg' %}" alt="tag" />
                  </span>
                </div>
              </div>
            </div>
          </div>
          {% empty %}
          <div class="col-12 text-center">No curated restaurants found.</div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- Advertisement banner -->
    <div class="row">
      <div class="col-12">
        <div class="banner-adv2 mb-xl-20">
          <img
            src="{% static 'app/assets/img/restaurants/1110x100/vbanner-2.jpg' %}"
            class="img-fluid full-width"
            alt="banner"
          />
          <span class="text">
            Unlimited Free Delivery with.
            <img src="{% static 'app/assets/img/tag.jpg' %}" alt="logo" />
            <a href="{% url 'restaurants:list_restaurants' %}" class="btn-second btn-submit">
              Try 30 Days FREE
            </a>
          </span>
          <span class="close-banner"></span>
          <div class="overlay overlay-bg"></div>
        </div>
      </div>
    </div>
    <!-- Advertisement banner -->
    <div class="row">
      <div class="col-lg-3 col-md-4">
        <div class="large-product-box mb-xl-20 p-relative">
          <img
            src="{% static 'app/assets/img/restaurants/255x587/Banner-1.jpg' %}"
            class="img-fluid full-width"
            alt="image"
          />
          <div class="category-type overlay padding-15">
            <button class="category-btn">Most popular near you</button>
            <a
              href="{% url 'restaurants:popular_near_you' %}"
              class="btn-first white-btn text-light-black fw-600 full-width"
              >See all</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-8">
        <div class="row">
          {% for restaurant in curated_restaurants %}
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="product-box mb-xl-20">
              <div class="product-img">
                <a href="{% url 'restaurants:restaurant' restaurant_id=restaurant.id %}">
                  <img
                    src="{% static 'app/assets/img/restaurants/255x150/shop-7.jpg' %}"
                    class="img-fluid full-width"
                    alt="product-img"
                  />
                </a>
                <div class="overlay">
                  <div class="product-tags padding-10">
                    <span class="circle-tag">
                      <img src="{% static 'app/assets/img/svg/013-heart-1.svg' %}" alt="tag" />
                    </span>
                    <div class="custom-tag">
                      <span
                        class="text-custom-white rectangle-tag bg-gradient-red"
                      >
                        10%
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product-caption">
                <div class="title-box">
                  <h6 class="product-title">
                    <a href="{% url 'restaurants:restaurant' restaurant_id=restaurant.id %}" class="text-light-black">
                      {{ restaurant.name }}
                    </a>
                  </h6>
                  <div class="tags">
                    <span class="text-custom-white rectangle-tag bg-yellow">
                      3.1
                    </span>
                  </div>
                </div>
                <p class="text-light-white">{{ restaurant.cuisines.all|join:", " }}</p>
                <div class="product-details">
                  <div class="price-time">
                    <span class="text-light-black time">30-40 min</span>
                    <span class="text-light-white price">$10 min</span>
                  </div>
                  <div class="rating">
                    <span>
                      <i class="fas fa-star text-yellow"></i>
                      <i class="fas fa-star text-yellow"></i>
                      <i class="fas fa-star text-yellow"></i>
                      <i class="fas fa-star text-yellow"></i>
                      <i class="fas fa-star text-yellow"></i>
                    </span>
                    <span class="text-light-white text-right">4225 ratings</span>
                  </div>
                </div>
                <div class="product-footer">
                  <span class="text-custom-white square-tag">
                    <img src="{% static 'app/assets/img/svg/004-leaf.svg' %}" alt="tag" />
                  </span>
                  <span class="text-custom-white square-tag">
                    <img src="{% static 'app/assets/img/svg/006-chili.svg' %}" alt="tag" />
                  </span>
                  <span class="text-custom-white square-tag">
                    <img src="{% static 'app/assets/img/svg/005-chef.svg' %}" alt="tag" />
                  </span>
                  <span class="text-custom-white square-tag">
                    <img src="{% static 'app/assets/img/svg/008-protein.svg' %}" alt="tag" />
                  </span>
                  <span class="text-custom-white square-tag">
                    <img src="{% static 'app/assets/img/svg/009-lemon.svg' %}" alt="tag" />
                  </span>
                </div>
              </div>
            </div>
          </div>
          {% empty %}
          <div class="col-12 text-center">No curated restaurants found.</div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- Advertisement banner -->
    <div class="row">
      <div class="col-12">
        <div class="banner-adv2 mb-xl-20">
          <img
            src="{% static 'app/assets/img/restaurants/1110x100/vbanner-3.jpg' %}"
            class="img-fluid full-width"
            alt="banner"
          />
          <span class="text">
            Unlimited Free Delivery with.
            <img src="{% static 'app/assets/img/tag.jpg' %}" alt="logo" />
            <a href="{% url 'restaurants:list_restaurants' %}" class="btn-second btn-submit">
              Try 30 Days FREE
            </a>
          </span>
          <span class="close-banner"></span>
          <div class="overlay overlay-bg"></div>
        </div>
      </div>
    </div>
    <!-- Advertisement banner -->
    <div class="row">
      <div class="col-lg-3 col-md-4">
        <div class="large-product-box mb-xl-20 p-relative">
          <img
            src="{% static 'app/assets/img/restaurants/255x587/Banner-2.jpg' %}"
            class="img-fluid full-width"
            alt="image"
          />
          <div class="category-type overlay padding-15">
            <button class="category-btn">Most popular near you</button>
            <a
              href="{% url 'restaurants:popular_near_you' %}"
              class="btn-first white-btn text-light-black fw-600 full-width"
              >See all</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-8">
        <div class="row">
          {% for restaurant in curated_restaurants %}
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="product-box mb-xl-20">
              <div class="product-img">
                <a href="{% url 'restaurants:restaurant' restaurant_id=restaurant.id %}">
                  <img
                    src="{% static 'app/assets/img/restaurants/255x150/shop-25.jpg' %}"
                    class="img-fluid full-width"
                    alt="product-img"
                  />
                </a>
                <div class="overlay">
                  <div class="product-tags padding-10">
                    <span class="circle-tag">
                      <img src="{% static 'app/assets/img/svg/013-heart-1.svg' %}" alt="tag" />
                    </span>
                    <div class="custom-tag">
                      <span
                        class="text-custom-white rectangle-tag bg-gradient-red"
                      >
                        10%
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product-caption">
                <div class="title-box">
                  <h6 class="product-title">
                    <a href="{% url 'restaurants:restaurant' restaurant_id=restaurant.id %}" class="text-light-black">
                      {{ restaurant.name }}
                    </a>
                  </h6>
                  <div class="tags">
                    <span class="text-custom-white rectangle-tag bg-yellow">
                      3.1
                    </span>
                  </div>
                </div>
                <p class="text-light-white">{{ restaurant.cuisines.all|join:", " }}</p>
                <div class="product-details">
                  <div class="price-time">
                    <span class="text-light-black time">30-40 min</span>
                    <span class="text-light-white price">$10 min</span>
                  </div>
                  <div class="rating">
                    <span>
                      <i class="fas fa-star text-yellow"></i>
                      <i class="fas fa-star text-yellow"></i>
                      <i class="fas fa-star text-yellow"></i>
                      <i class="fas fa-star text-yellow"></i>
                      <i class="fas fa-star text-yellow"></i>
                    </span>
                    <span class="text-light-white text-right">4225 ratings</span>
                  </div>
                </div>
                <div class="product-footer">
                  <span class="text-custom-white square-tag">
                    <img src="{% static 'app/assets/img/svg/004-leaf.svg' %}" alt="tag" />
                  </span>
                  <span class="text-custom-white square-tag">
                    <img src="{% static 'app/assets/img/svg/006-chili.svg' %}" alt="tag" />
                  </span>
                  <span class="text-custom-white square-tag">
                    <img src="{% static 'app/assets/img/svg/005-chef.svg' %}" alt="tag" />
                  </span>
                  <span class="text-custom-white square-tag">
                    <img src="{% static 'app/assets/img/svg/008-protein.svg' %}" alt="tag" />
                  </span>
                  <span class="text-custom-white square-tag">
                    <img src="{% static 'app/assets/img/svg/009-lemon.svg' %}" alt="tag" />
                  </span>
                </div>
              </div>
            </div>
          </div>
          {% empty %}
          <div class="col-12 text-center">No curated restaurants found.</div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- Advertisement banner -->
    <div class="row">
      <div class="col-12">
        <div class="banner-adv2 mb-xl-20">
          <img
            src="{% static 'app/assets/img/restaurants/1110x100/vbanner-2.jpg' %}"
            class="img-fluid full-width"
            alt="banner"
          />
          <span class="text">
            Unlimited Free Delivery with.
            <img src="{% static 'app/assets/img/tag.jpg' %}" alt="logo" />
            <a href="{% url 'restaurants:list_restaurants' %}" class="btn-second btn-submit">
              Try 30 Days FREE
            </a>
          </span>
          <span class="close-banner"></span>
          <div class="overlay overlay-bg"></div>
        </div>
      </div>
    </div>
    <!-- Advertisement banner -->
  </div>
</section>
<!-- Explore collection -->
{% endblock %}