{% extends 'base.html' %}
{% load static %}

{% block title %} Munchbox | Blog Details - {{ blog.title|default:"Blog Post" }} {% endblock title %}

{% block content %}
<div class="main-sec"></div>
<!-- Navigation -->
<!-- Blog -->
<section class="our-articles bg-light-theme section-padding pt-0">
  <div class="blog-page-banner"></div>
  <div class="container-fluid">
    <div class="row">
      <aside class="col-lg-3">
        <div class="sidebar2">
          <div class="side-bar section-padding pb-0 mb-md-40">
            <div class="main-box padding-20 side-blog mb-xl-20">
              <h4 class="text-light-black">Popular Posts</h4>
              {% if popular_posts %}
                {% for post in popular_posts %}
                  <article class="side-post pb-xl-20 mb-xl-20 u-line{% if forloop.last %} no-line{% endif %}">
                    <div class="thumb-img">
                      <a href="{% url 'blog:blog-details' post.id %}">
                        <img src="{% static 'app/assets/img/blog/100x100/popularpost-'|add:forloop.counter|add:'.jpg' %}" alt="thumb-img" />
                      </a>
                    </div>
                    <div class="content-wrap">
                      <div class="entry-meta-content">
                        <h5 class="entry-title">
                          <a href="{% url 'blog:blog-details' post.id %}" class="text-light-black">
                            {{ post.title|default:"Chicken Dishes You Should Eat Based on Your Horoscope" }}
                          </a>
                        </h5>
                        <div class="entry-tye">
                          <span class="text-light-green fw-600">{{ post.date|date:"d M Y"|default:"20 Nov 2019" }}</span>
                        </div>
                      </div>
                    </div>
                  </article>
                {% endfor %}
              {% else %}
                <p>No popular posts available.</p>
              {% endif %}
            </div>
            <div class="main-box padding-20 blog-tags mb-xl-20">
              <h4 class="text-light-black">Tags</h4>
              <a href="#">#pizza</a>
              <a href="#">#hot dog</a>
              <a href="#">#fries</a>
              <a href="#">#fried chicken</a>
              <a href="#">#smoky chicken</a>
              <a href="#">#soup</a>
              <a href="#">#perry perry</a>
              <a href="#">#cryspy crunch</a>
              <a href="#">#green slad</a>
              <a href="#">#chocolawa</a>
              <a href="#">#butter bite</a>
              <a href="#">#chicken role</a>
              <a href="#">#salmon fish</a>
            </div>
            <div class="main-box padding-20 trending-blog-cat mb-xl-20">
              <h4 class="text-light-black">Categories</h4>
              <ul>
                <li class="pb-xl-20 u-line mb-xl-20">
                  <a href="#" class="text-light-black fw-600">Pizza <span class="text-light-white fw-400">(110)</span></a>
                </li>
                <li class="pb-xl-20 u-line mb-xl-20">
                  <a href="#" class="text-light-black fw-600">Burger <span class="text-light-white fw-400">(98)</span></a>
                </li>
                <li class="pb-xl-20 u-line mb-xl-20">
                  <a href="#" class="text-light-black fw-600">Quick Noodles <span class="text-light-white fw-400">(52)</span></a>
                </li>
                <li class="pb-xl-20 u-line mb-xl-20">
                  <a href="#" class="text-light-black fw-600">Chilli Chicken <span class="text-light-white fw-400">(26)</span></a>
                </li>
                <li class="pb-xl-20 u-line mb-xl-20">
                  <a href="#" class="text-light-black fw-600">Spring Rolls <span class="text-light-white fw-400">(55)</span></a>
                </li>
                <li class="pb-xl-20 u-line mb-xl-20">
                  <a href="#" class="text-light-black fw-600">Chilli Potato <span class="text-light-white fw-400">(48)</span></a>
                </li>
                <li class="pb-xl-20 u-line mb-xl-20">
                  <a href="#" class="text-light-black fw-600">Chicken Soup <span class="text-light-white fw-400">(50)</span></a>
                </li>
              </ul>
            </div>
            <div class="main-box padding-20">
              {% if restaurants %}
                {% for restaurant in restaurants %}
                  <div class="product-box mb-xl-20{% if forloop.last %} no-margin{% endif %}">
                    <div class="product-img">
                      <a href="{% url 'restaurants:restaurant' restaurant_id=restaurant.id %}">
                        <img src="{% static 'app/assets/img/blog/406x239/shop-'|add:forloop.counter|add:'.jpg' %}" class="img-fluid full-width" alt="product-img" />
                      </a>
                      <div class="overlay">
                        <div class="product-tags padding-10">
                          <span class="circle-tag">
                            <img src="{% static 'app/assets/img/svg/013-heart-1.svg' %}" alt="tag" />
                          </span>
                          <div class="custom-tag">
                            <span class="text-custom-white rectangle-tag bg-gradient-red">20%</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="product-caption">
                      <div class="title-box">
                        <h6 class="product-title">
                          <a href="{% url 'restaurants:restaurant' restaurant_id=restaurant.id %}" class="text-light-black">
                            {{ restaurant.name|default:"Great Burger" }}
                          </a>
                        </h6>
                        <div class="tags">
                          <span class="text-custom-white rectangle-tag bg-red">
                            {{ restaurant.average_rating|default:"2.1" }}
                          </span>
                        </div>
                      </div>
                      <p class="text-light-white">
                        {% for cuisine in restaurant.cuisines.all %}
                          {{ cuisine.name }}{% if not forloop.last %}, {% endif %}
                        {% empty %}
                          American, Fast Food
                        {% endfor %}
                      </p>
                      <div class="product-details">
                        <div class="price-time">
                          <span class="text-light-black time">30-40 min</span>
                          <span class="text-light-white price">$10 min</span>
                        </div>
                        <div class="rating">
                          <span>
                            {% for i in "12345" %}
                              {% if forloop.counter <= restaurant.average_rating|default:5 %}
                                <i class="fas fa-star text-yellow"></i>
                              {% else %}
                                <i class="fas fa-star"></i>
                              {% endif %}
                            {% endfor %}
                          </span>
                          <span class="text-light-white text-right">
                            {{ restaurant.review_count|default:"4225" }} ratings
                          </span>
                        </div>
                      </div>
                      <div class="product-footer">
                        <span class="text-custom-white square-tag">
                          <img src="{% static 'app/assets/img/svg/008-protein.svg' %}" alt="tag" />
                        </span>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              {% else %}
                <p>No restaurants available.</p>
              {% endif %}
            </div>
          </div>
        </div>
      </aside>
      <div class="col-lg-6 blog-inner clearfix">
        <div class="main-box padding-20 full-width">
          <div class="breadcrumb-wrpr">
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'home:landing-page' %}" class="text-light-black">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{% url 'blog:blogs' %}" class="text-light-black">Blog</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Blog Details</li>
            </ul>
          </div>
          <div class="post-wrapper mb-xl-20">
            {% if blog.image %}
              <img src="{{ blog.image.url }}" class="img-fluid full-width" alt="{{ blog.title }}" />
            {% else %}
              <img src="{% static 'app/assets/img/blog-details/822x337/image-1.jpg' %}" class="img-fluid full-width" alt="{{ blog.title }}" />
            {% endif %}
          </div>
          <div class="row">
            <div class="col-12">
              <div class="blog-meta mb-xl-20">
                <h2 class="blog-title text-light-black">{{ blog.title|default:"Best Chinese Restaurants in Brooklyn" }}</h2>
                <h6 class="text-light-white fs-14">
                  Posted on {{ blog.date|date:"d F, Y"|default:"25 January, 2019" }}
                </h6>
                <p class="text-light-white">{{ blog.content|default:"Lorem Ipsum is simply dummy text of the printing and typesetting industry..."|safe }}</p>
              </div>
              {% if blog.excerpt %}
                <div class="blog-meta mb-xl-20">
                  <h5 class="blog-title text-light-black">Summary</h5>
                  <p class="text-light-white">{{ blog.excerpt|safe }}</p>
                </div>
              {% endif %}
              <div class="blog-meta mb-xl-20">
                <h5 class="blog-title text-light-black">Author</h5>
                <div class="post-meta">
                  <div class="author-img">
                    {% if blog.author.profile_picture %}
                      <img src="{{ blog.author.profile_picture.url }}" class="rounded-circle" alt="{{ blog.author.get_full_name }}" />
                    {% else %}
                      <img src="{% static 'app/assets/img/user/user-1.png' %}" class="rounded-circle" alt="{{ blog.author.get_full_name }}" />
                    {% endif %}
                  </div>
                  <div class="author-meta">
                    <h6 class="no-margin">
                      <a href="#" class="text-light-black">{{ blog.author.get_full_name|default:blog.author.username|default:"Charles C. Pruitt" }}</a>
                    </h6>
                    <p class="no-margin text-light-white">
                      <a href="#" class="text-light-white">Admin</a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="comment-box">
                <div class="section-header-left">
                  <h3 class="text-light-black header-title">Comments</h3>
                </div>
                {% if comments %}
                  {% for comment in comments %}
                    <div class="review-box{% if comment.parent %} comment-reply{% endif %}">
                      <div class="review-user">
                        <div class="review-user-img">
                          {% if comment.user and comment.user.profile_picture %}
                            <img src="{{ comment.user.profile_picture.url }}" class="rounded-circle" alt="{{ comment.user.get_full_name }}" />
                          {% else %}
                            <img src="{% static 'app/assets/img/blog-details/40x40/user-'|add:forloop.counter|add:'.png' %}" class="rounded-circle" alt="user" />
                          {% endif %}
                          <div class="reviewer-name">
                            <p class="text-light-black fw-600">
                              {% if comment.user %}
                                {{ comment.user.get_full_name|default:comment.user.username }}
                              {% else %}
                                {{ comment.name|default:"Anonymous" }}
                              {% endif %}
                              <small class="text-light-white fw-500">New York, (NY)</small>
                            </p>
                            <i class="fas fa-trophy text-black"></i><span class="text-light-black">Top Reviewer</span>
                          </div>
                        </div>
                        <div class="review-date">
                          <span class="text-light-white">{{ comment.created_at|date:"M d, Y" }}</span>
                        </div>
                      </div>
                      <div class="ratings">
                        {% for i in "12345" %}
                          {% if forloop.counter <= comment.rating %}
                            <span class="text-yellow fs-16"><i class="fas fa-star"></i></span>
                          {% else %}
                            <span class="fs-16"><i class="fas fa-star"></i></span>
                          {% endif %}
                        {% endfor %}
                        <span class="ml-2 text-light-white">{{ comment.created_at|timesince }} ago</span>
                      </div>
                      <p class="text-light-black">{{ comment.text }}</p>
                    </div>
                  {% endfor %}
                {% else %}
                  <p class="text-light-white">No comments yet. Be the first to comment!</p>
                {% endif %}
              </div>
              <div class="comment-form">
                <div class="section-header-left">
                  <h3 class="text-light-black header-title">Leave a Reply</h3>
                </div>
                <form method="post" action="{% url 'blog:comment' blog.id %}">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="text-light-black fw-600">Full Name</label>
                        <input type="text" name="name" class="form-control form-control-submit" placeholder="Full Name" value="{{ user.get_full_name|default:'' }}" {% if user.is_authenticated %}readonly{% endif %} required />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="text-light-black fw-600">Email Address</label>
                        <input type="email" name="email" class="form-control form-control-submit" placeholder="Email Address" value="{{ user.email|default:'' }}" {% if user.is_authenticated %}readonly{% endif %} required />
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="text-light-black fw-600">Your Comment</label>
                        <textarea name="text" class="form-control form-control-submit" rows="6" placeholder="Your Comment" required></textarea>
                      </div>
                      <div class="form-group">
                        <label class="text-light-black fw-600">Rating (1-5)</label>
                        <select name="rating" class="form-control form-control-submit" required>
                          {% for i in "12345" %}
                            <option value="{{ i }}">{{ i }} Star{{ i|pluralize }}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <button type="submit" class="btn-second btn-submit full-width">Send</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <aside class="col-lg-3">
        <div class="sidebar3">
          <div class="side-bar section-padding pb-0">
            <div class="advertisement-slider swiper-container h-auto mb-xl-20">
              <div class="swiper-wrapper">
                {% if restaurants %}
                  {% for restaurant in restaurants %}
                    <div class="swiper-slide">
                      <div class="testimonial-wrapper">
                        <div class="testimonial-box">
                          <div class="testimonial-img p-relative">
                            <a href="{% url 'restaurants:restaurant' restaurant_id=restaurant.id %}">
                              <img src="{% static 'app/assets/img/blog/438x180/shop-'|add:forloop.counter|add:'.jpg' %}" class="img-fluid full-width" alt="testimonial-img" />
                            </a>
                            <div class="overlay">
                              <div class="brand-logo">
                                {% if restaurant.logo %}
                                  <img src="{{ restaurant.logo.url }}" class="img-fluid" alt="logo" />
                                {% else %}
                                  <img src="{% static 'app/assets/img/user/user-'|add:forloop.counter|add:'.png' %}" class="img-fluid" alt="logo" />
                                {% endif %}
                              </div>
                              <div class="add-fav text-light-white">
                                <img src="{% static 'app/assets/img/svg/013-heart-1.svg' %}" alt="tag" />
                              </div>
                            </div>
                          </div>
                          <div class="testimonial-caption padding-15">
                            <p class="text-light-white text-uppercase no-margin fs-12">Featured</p>
                            <h5 class="fw-600">
                              <a href="{% url 'restaurants:restaurant' restaurant_id=restaurant.id %}" class="text-light-black">
                                {{ restaurant.name|default:"GSA King Tomato Farm" }}
                              </a>
                            </h5>
                            <div class="testimonial-user-box">
                              {% if restaurant.latest_reviewer %}
                                {% if restaurant.latest_reviewer.profile_picture %}
                                  <img src="{{ restaurant.latest_reviewer.profile_picture.url }}" class="rounded-circle" alt="user" />
                                {% else %}
                                  <img src="{% static 'app/assets/img/user/user-'|add:forloop.counter|add:'.png' %}" class="rounded-circle" alt="user" />
                                {% endif %}
                                <div class="testimonial-user-name">
                                  <p class="text-light-black fw-600">{{ restaurant.latest_reviewer.get_full_name|default:restaurant.latest_reviewer.username|default:"Sarra" }}</p>
                                  <i class="fas fa-trophy text-black"></i><span class="text-light-black">Top Reviewer</span>
                                </div>
                              {% else %}
                                <img src="{% static 'app/assets/img/user/user-'|add:forloop.counter|add:'.png' %}" class="rounded-circle" alt="user" />
                                <div class="testimonial-user-name">
                                  <p class="text-light-black fw-600">Sarra</p>
                                  <i class="fas fa-trophy text-black"></i><span class="text-light-black">Top Reviewer</span>
                                </div>
                              {% endif %}
                            </div>
                            <div class="ratings">
                              {% for i in "12345" %}
                                {% if forloop.counter <= restaurant.average_rating|default:5 %}
                                  <span class="text-yellow fs-16"><i class="fas fa-star"></i></span>
                                {% else %}
                                  <span class="fs-16"><i class="fas fa-star"></i></span>
                                {% endif %}
                              {% endfor %}
                            </div>
                            <p class="text-light-black">{{ restaurant.latest_review|default:"Delivery was fast and friendly..." }}</p>
                            <p class="text-light-white fw-100">
                              <strong class="text-light-black fw-700">Local delivery:</strong> From $7.99 (4.0 mi)
                            </p>
                            <a href="{% url 'checkouts:checkout' restaurant_id=restaurant.id %}" class="btn-second btn-submit">Order Now</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                {% else %}
                  <p>No restaurants available for advertisement.</p>
                {% endif %}
              </div>
              <!-- Add Arrows -->
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
            <div class="large-product-box mb-xl-20">
              <img src="{% static 'app/assets/img/blog/446x1025/ad-1.jpg' %}" class="img-fluid full-width" alt="image" />
              <div class="category-type overlay padding-15">
                <button class="category-btn">Most popular near you</button>
                <a href="{% url 'restaurants:popular_near_you' %}" class="btn-first white-btn text-light-black fw-600 full-width">See all</a>
              </div>
            </div>
            <div class="inner-wrapper main-box">
              <div class="main-banner p-relative">
                <img src="{% static 'app/assets/img/blog/446x501/ff-1.jpg' %}" class="img-fluid full-width main-img" alt="banner" />
                <div class="overlay-2 main-padding">
                  <img src="{% static 'app/assets/img/logo-2.jpg' %}" class="img-fluid" alt="logo" />
                </div>
                <img src="{% static 'app/assets/img/banner/burger.png' %}" class="footer-img" alt="footerimg" />
              </div>
              <div class="section-2 main-page main-padding">
                <div class="login-box">
                  <h3 class="text-light-black fw-700">Munchbox food delivery every time</h3>
                  <div class="input-group row">
                    <div class="input-group2 col-xl-8">
                      <input type="search" class="form-control form-control-submit" placeholder="Enter street address or zip code" value="1246 57th St, Brooklyn, NY, 11219" />
                      <div class="input-group-prepend">
                        <button class="input-group-text text-light-green"><i class="fab fa-telegram-plane"></i></button>
                      </div>
                    </div>
                    <div class="input-group-append col-xl-4">
                      <button class="btn-second btn-submit full-width" type="button">Find food</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </div>
</section>
{% endblock content %}